@charset "UTF-8";

@media screen and (min-width: 360px) and (max-width: 768px) {

    * {
        overflow: hidden;
    }

    main {
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }

    section {
        width: 100vw;
        height: 100vh;
    }

    section h1 {
        font-size: 1.8em;
    }

    div#login input {
        width: 80vw;
    }

    div#botao input {
        width: 80vw;
        color: #ffff;
        font-size: 13px;
        background-color: #9B3BDA;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    div#botao input:hover {
        background-color: #9a3bdade;
        transition: ease-in-out 0.3s;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    * {
        overflow: hidden;
    }

    main {
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }

    section h1 {
        font-size: 2em;
    }

    section {
        width: 100vw;
        height: 100vh;
    }

    div#login input {
        width: 60vw;
    }

    div#botao input {
        width: 60vw;
        color: #ffff;
        font-size: 13px;
        background-color: #9B3BDA;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    div#botao input:hover {
        background-color: #9a3bdade;
        transition: ease-in-out 0.3s;
    }
}